@import "/Users/Admin/frontend/resume/assets/fonts";
@import "/Users/Admin/frontend/todaList/assets/variables";
body {
    color: #767678;
    font-family: sans-serif;
    font-size: medium;
    margin: 0;
}

.ml-10 {
    margin-left: 10px !important;
}

.circle {
    color: $todoBlue;
    font-size: 18px;
    margin: 10px;
}

.star {
    color: $todoBlue;
    font-size: 18px;
    margin: 10px;
    position: absolute;
    right: 30px;
}

.whiteBox {
    align-items: center;
    background-color: $white;
    display: flex;
    font-size: 15px;
    margin: 0px 0px 10px 10px;
    width: 90%;
}

.fa-list {
    color: $todoBlue;
}

.taskCompleted {
    opacity: 0.8;
    text-decoration-line: line-through;
}

.todo-header {
    align-items: center;
    background-color: $headerBlue;
    display: flex;
    height: 50px;
    i {
        color: $white;
        cursor: pointer;
        padding: 20px;
    }
    i:hover {
        background-color: $myApp;
    }
    .app-name {
        color: $white;
        cursor: pointer;
        font-size: 15px;
        margin: 20px;
    }
    .search {
        background-color: $white;
        border: none;
        border-radius: 2px;
        display: inline-block;
        height: 30px;
        margin: auto;
        width: 30%;
        i {
            color: $searchIcon;
            padding: 7px;
            vertical-align: top;
        }
        i:hover {
            background-color: $white;
        }
        .search-text {
            // margin: 10px;
            border: none;
            border-radius: 5px;
            font-size: 13px;
            height: 28px;
            outline: none;
            vertical-align: top;
            width: 75%;
        }
    }
}

.todo-body {
    display: flex;
    .left-container {
        background-color: $todoGrey;
        color: $todoBlack;
        height: 100vh;
        margin: 0px;
        outline: 1px solid $darkGrey;
        width: 25%;
        .left-section {
            width: 100%;
            .toggle-button {
                border: none;
                color: $todoBlue;
                font-size: 20px;
                margin: 10px;
                outline: none;
            }
             :hover {
                background-color: $todoToggleBbox;
                box-shadow: $todoLightGrey;
                cursor: pointer;
            }
            .left-block {
                margin-top: 40px;
                .category {
                    cursor: pointer;
                    display: flex;
                    font-size: 14px;
                    padding: 15px 17px;
                    transition-duration: 0.2s;
                    span {
                        @extend .ml-10;
                    }
                }
                 :hover {
                    background-color: $hoverCategory;
                    color: $darkBlack;
                    font-weight: 600;
                }
            }
             :hover {
                background-color: $todoGrey;
            }
            .taskAddition {
                span {
                    @extend .ml-10;
                }
                cursor: pointer;
                margin: 25px 0px 0px 15px;
            }
            .newCategory {
                color: $todoBlue;
                display: flex;
                margin-top: 20px;
                padding: 15px 15px;
                .task {
                    background-color: $categoryInput;
                    border: none;
                    font-size: 15px;
                    height: 20px;
                    margin-left: 10px;
                    outline: none;
                }
                 ::placeholder {
                    color: $todoBlue;
                }
                .btn {
                    border: none;
                    color: $todoBlue;
                    font-size: 20px;
                    margin-left: 10px;
                    outline: none;
                }
            }
            .newCategory:hover {
                background-color: $hoverCategory;
                .task {
                    background-color: $hoverCategory;
                }
            }
        }
    }
    .left-container-close {
        width: 3%;
    }
    .middle-container {
        background-color: $white;
        display: none;
        outline: 1px solid $white;
        width: 100%;
        .middle-top-container {
            height: 10vh;
            margin: 0px;
            width: 100%;
            .middle-heading {
                color: $todoBlue;
                font-weight: 300;
                margin: 30px 20px;
            }
        }
        .middle-bottom-container {
            background-color: $white;
            height: 10vh;
            margin: 0px;
            width: 100%;
            .task-input {
                align-items: center;
                display: flex;
                font-size: 15px;
                height: 30px;
                margin-left: 20px;
                .fa-plus {
                    color: $todoBlue;
                    font-size: 17px;
                }
                .add-task-input {
                    border: none;
                    font-size: 17px;
                    font-weight: 100;
                    margin-left: 15px;
                    outline: none;
                    width: 85%;
                }
                 ::placeholder {
                    color: $todoBlue;
                    font-size: 15px;
                }
                .add-task-btn {
                    background-color: $white;
                    border: none;
                    color: $todoBlue;
                    font-weight: 600;
                    outline: none;
                }
            }
            .task-line {
                border-top: 1px solid $todoLightGrey;
                margin: 0px 15px;
            }
            .task-display {
                .subTaskAddition {
                    border-bottom: $hrLine;
                    color: $todoBlack;
                    display: flex;
                    padding: 15px 15px;
                    margin: 0px 10px;
                    .fa-circle-thin {
                        color: $todoBlue;
                        font-size: 20px;
                        margin-top: 0px;
                    }
                    .fa-check-circle {
                        color: $todoBlue;
                        font-size: 20px;
                    }
                    span {
                        display: flex;
                        margin: 0px 0px 0px 15px;
                        width: 100%;
                    }
                    .fa-star-o {
                        color: $todoBlue;
                        margin-right: 40px;
                    }
                    .fa-star {
                        color: $todoBlue;
                        margin-right: 40px;
                    }
                }
                 :hover {
                    background-color: $todoGrey;
                }
                .taskCompleted {
                    opacity: 0.8;
                    text-decoration-line: line-through;
                }
                .taskInComplete {
                    opacity: 1;
                }
            }
        }
    }
    .visible-middle {
        display: block;
    }
    .right-container {
        background-color: $categoryInput;
        display: none;
        margin: 0px;
        outline: 1px solid $darkGrey;
        width: 40%;
        .task-step {
            background-color: $white;
            border: 12px solid $categoryInput;
            font-size: 15px;
            width: 90%;
            .task-title {
                display: flex;
                .fa-circle-thin {
                    @extend .circle;
                }
                .fa-check-circle {
                    @extend .circle;
                }
                span {
                    font-size: 15px;
                    font-weight: 700;
                    margin: 10px;
                }
                .fa-star-o {
                    @extend .star;
                }
                .fa-star {
                    @extend .star;
                }
            }
            .step {
                margin-left: 10px;
                .stepAddition {
                    border-bottom: $hrLine;
                    .fa-circle-thin {
                        color: $todoBlue;
                        margin: 15px 10px 10px 0px;
                    }
                    span {
                        margin: 10px;
                    }
                    .fa-star-o {
                        color: $todoBlue;
                        margin: 10px;
                        position: absolute;
                        right: 30px;
                    }
                }
                 :hover {
                    background-color: $todoGrey;
                }
            }
            .add-step {
                margin: 35px 5px 20px 10px;
                .fa-plus {
                    color: $todoBlue;
                }
                .input-task-step {
                    border: none;
                    margin-left: 10px;
                    outline: none;
                }
                 ::placeholder {
                    color: $todoBlue;
                    font-family: sans-serif;
                    font-size: 15px;
                }
            }
        }
        .myday {
            @extend .whiteBox;
            color: $todoBlue;
            outline: 1px solid $darkGrey;
            .fa-sun-o {
                margin: 20px 10px;
            }
        }
        .reminder {
            background-color: $white;
            border: 12px solid $todoGrey;
            font-size: 15px;
            width: 90%;
            ul {
                list-style-type: none;
                padding: 0px;
            }
            li {
                margin: 20px 0px;
            }
            i {
                margin: 0px 10px;
            }
            hr {
                border-top: 1px solid $todoLightGrey;
                margin: 0px 0px 10px 30px;
            }
        }
        .pick-category {
            outline: 1px solid $darkGrey;
            @extend .whiteBox;
            .fa-tag {
                margin: 20px 10px;
            }
        }
        .add-file {
            outline: 1px solid $darkGrey;
            @extend .whiteBox;
            .fa-paperclip {
                margin: 20px 10px;
            }
        }
        .empty-box {
            height: 15vh;
            outline: 1px solid $darkGrey;
            @extend .whiteBox;
        }
    }
    .visible-right {
        display: block;
    }
}