@font-face {
  font-family: 'CoversansW05';
  src: url("/fonts/CoversansW05-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometr706-Md-BT';
  src: url("/fonts/Geometric706BT-BlackB.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  color: #767678;
  font-family: sans-serif;
  font-size: medium;
  margin: 0;
}

.ml-10, .todo-body .left-container .left-section .left-block .category span, .todo-body .left-container .left-section .taskAddition span {
  margin-left: 10px !important;
}

.circle, .todo-body .right-container .task-step .task-title .fa-circle-thin, .todo-body .right-container .task-step .task-title .fa-check-circle {
  color: #465efc;
  font-size: 18px;
  margin: 10px;
}

.star, .todo-body .right-container .task-step .task-title .fa-star-o, .todo-body .right-container .task-step .task-title .fa-star {
  color: #465efc;
  font-size: 18px;
  margin: 10px;
  position: absolute;
  right: 30px;
}

.whiteBox, .todo-body .right-container .myday, .todo-body .right-container .pick-category, .todo-body .right-container .add-file, .todo-body .right-container .empty-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  margin: 0px 0px 10px 10px;
  width: 90%;
}

.fa-list {
  color: #465efc;
}

.taskCompleted {
  opacity: 0.8;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.todo-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0078D7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.todo-header i {
  color: #ffffff;
  cursor: pointer;
  padding: 20px;
}

.todo-header i:hover {
  background-color: #1b1b53b7;
}

.todo-header .app-name {
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  margin: 20px;
}

.todo-header .search {
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 30px;
  margin: auto;
  width: 30%;
}

.todo-header .search i {
  color: #7ca4ca;
  padding: 7px;
  vertical-align: top;
}

.todo-header .search i:hover {
  background-color: #ffffff;
}

.todo-header .search .search-text {
  border: none;
  border-radius: 5px;
  font-size: 13px;
  height: 28px;
  outline: none;
  vertical-align: top;
  width: 75%;
}

.todo-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo-body .left-container {
  background-color: #f4f4f5;
  color: #34373d;
  height: 100vh;
  margin: 0px;
  outline: 1px solid #e0e0e2;
  width: 25%;
}

.todo-body .left-container .left-section {
  width: 100%;
}

.todo-body .left-container .left-section .toggle-button {
  border: none;
  color: #465efc;
  font-size: 20px;
  margin: 10px;
  outline: none;
}

.todo-body .left-container .left-section :hover {
  background-color: #ffffffbb;
  -webkit-box-shadow: #d3d3d3;
          box-shadow: #d3d3d3;
  cursor: pointer;
}

.todo-body .left-container .left-section .left-block {
  margin-top: 40px;
}

.todo-body .left-container .left-section .left-block .category {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  padding: 15px 17px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.todo-body .left-container .left-section .left-block :hover {
  background-color: #ffffffd3;
  color: #000000;
  font-weight: 600;
}

.todo-body .left-container .left-section :hover {
  background-color: #f4f4f5;
}

.todo-body .left-container .left-section .taskAddition {
  cursor: pointer;
  margin: 25px 0px 0px 15px;
}

.todo-body .left-container .left-section .newCategory {
  color: #465efc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding: 15px 15px;
}

.todo-body .left-container .left-section .newCategory .task {
  background-color: #f4f4f5;
  border: none;
  font-size: 15px;
  height: 20px;
  margin-left: 10px;
  outline: none;
}

.todo-body .left-container .left-section .newCategory ::-webkit-input-placeholder {
  color: #465efc;
}

.todo-body .left-container .left-section .newCategory :-ms-input-placeholder {
  color: #465efc;
}

.todo-body .left-container .left-section .newCategory ::-ms-input-placeholder {
  color: #465efc;
}

.todo-body .left-container .left-section .newCategory ::placeholder {
  color: #465efc;
}

.todo-body .left-container .left-section .newCategory .btn {
  border: none;
  color: #465efc;
  font-size: 20px;
  margin-left: 10px;
  outline: none;
}

.todo-body .left-container .left-section .newCategory:hover {
  background-color: #ffffffd3;
}

.todo-body .left-container .left-section .newCategory:hover .task {
  background-color: #ffffffd3;
}

.todo-body .left-container-close {
  width: 3%;
}

.todo-body .middle-container {
  background-color: #ffffff;
  display: none;
  outline: 1px solid #ffffff;
  width: 100%;
}

.todo-body .middle-container .middle-top-container {
  height: 10vh;
  margin: 0px;
  width: 100%;
}

.todo-body .middle-container .middle-top-container .middle-heading {
  color: #465efc;
  font-weight: 300;
  margin: 30px 20px;
}

.todo-body .middle-container .middle-bottom-container {
  background-color: #ffffff;
  height: 10vh;
  margin: 0px;
  width: 100%;
}

.todo-body .middle-container .middle-bottom-container .task-input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  height: 30px;
  margin-left: 20px;
}

.todo-body .middle-container .middle-bottom-container .task-input .fa-plus {
  color: #465efc;
  font-size: 17px;
}

.todo-body .middle-container .middle-bottom-container .task-input .add-task-input {
  border: none;
  font-size: 17px;
  font-weight: 100;
  margin-left: 15px;
  outline: none;
  width: 85%;
}

.todo-body .middle-container .middle-bottom-container .task-input ::-webkit-input-placeholder {
  color: #465efc;
  font-size: 15px;
}

.todo-body .middle-container .middle-bottom-container .task-input :-ms-input-placeholder {
  color: #465efc;
  font-size: 15px;
}

.todo-body .middle-container .middle-bottom-container .task-input ::-ms-input-placeholder {
  color: #465efc;
  font-size: 15px;
}

.todo-body .middle-container .middle-bottom-container .task-input ::placeholder {
  color: #465efc;
  font-size: 15px;
}

.todo-body .middle-container .middle-bottom-container .task-input .add-task-btn {
  background-color: #ffffff;
  border: none;
  color: #465efc;
  font-weight: 600;
  outline: none;
}

.todo-body .middle-container .middle-bottom-container .task-line {
  border-top: 1px solid #d3d3d3;
  margin: 0px 15px;
}

.todo-body .middle-container .middle-bottom-container .task-display .subTaskAddition {
  border-bottom: 1px solid #d3d3d3;
  color: #34373d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px;
  margin: 0px 10px;
}

.todo-body .middle-container .middle-bottom-container .task-display .subTaskAddition .fa-circle-thin {
  color: #465efc;
  font-size: 20px;
  margin-top: 0px;
}

.todo-body .middle-container .middle-bottom-container .task-display .subTaskAddition .fa-check-circle {
  color: #465efc;
  font-size: 20px;
}

.todo-body .middle-container .middle-bottom-container .task-display .subTaskAddition span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 15px;
  width: 100%;
}

.todo-body .middle-container .middle-bottom-container .task-display .subTaskAddition .fa-star-o {
  color: #465efc;
  margin-right: 40px;
}

.todo-body .middle-container .middle-bottom-container .task-display .subTaskAddition .fa-star {
  color: #465efc;
  margin-right: 40px;
}

.todo-body .middle-container .middle-bottom-container .task-display :hover {
  background-color: #f4f4f5;
}

.todo-body .middle-container .middle-bottom-container .task-display .taskCompleted {
  opacity: 0.8;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.todo-body .middle-container .middle-bottom-container .task-display .taskInComplete {
  opacity: 1;
}

.todo-body .visible-middle {
  display: block;
}

.todo-body .right-container {
  background-color: #f4f4f5;
  display: none;
  margin: 0px;
  outline: 1px solid #e0e0e2;
  width: 40%;
}

.todo-body .right-container .task-step {
  background-color: #ffffff;
  border: 12px solid #f4f4f5;
  font-size: 15px;
  width: 90%;
}

.todo-body .right-container .task-step .task-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo-body .right-container .task-step .task-title span {
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
}

.todo-body .right-container .task-step .step {
  margin-left: 10px;
}

.todo-body .right-container .task-step .step .stepAddition {
  border-bottom: 1px solid #d3d3d3;
}

.todo-body .right-container .task-step .step .stepAddition .fa-circle-thin {
  color: #465efc;
  margin: 15px 10px 10px 0px;
}

.todo-body .right-container .task-step .step .stepAddition span {
  margin: 10px;
}

.todo-body .right-container .task-step .step .stepAddition .fa-star-o {
  color: #465efc;
  margin: 10px;
  position: absolute;
  right: 30px;
}

.todo-body .right-container .task-step .step :hover {
  background-color: #f4f4f5;
}

.todo-body .right-container .task-step .add-step {
  margin: 35px 5px 20px 10px;
}

.todo-body .right-container .task-step .add-step .fa-plus {
  color: #465efc;
}

.todo-body .right-container .task-step .add-step .input-task-step {
  border: none;
  margin-left: 10px;
  outline: none;
}

.todo-body .right-container .task-step .add-step ::-webkit-input-placeholder {
  color: #465efc;
  font-family: sans-serif;
  font-size: 15px;
}

.todo-body .right-container .task-step .add-step :-ms-input-placeholder {
  color: #465efc;
  font-family: sans-serif;
  font-size: 15px;
}

.todo-body .right-container .task-step .add-step ::-ms-input-placeholder {
  color: #465efc;
  font-family: sans-serif;
  font-size: 15px;
}

.todo-body .right-container .task-step .add-step ::placeholder {
  color: #465efc;
  font-family: sans-serif;
  font-size: 15px;
}

.todo-body .right-container .myday {
  color: #465efc;
  outline: 1px solid #e0e0e2;
}

.todo-body .right-container .myday .fa-sun-o {
  margin: 20px 10px;
}

.todo-body .right-container .reminder {
  background-color: #ffffff;
  border: 12px solid #f4f4f5;
  font-size: 15px;
  width: 90%;
}

.todo-body .right-container .reminder ul {
  list-style-type: none;
  padding: 0px;
}

.todo-body .right-container .reminder li {
  margin: 20px 0px;
}

.todo-body .right-container .reminder i {
  margin: 0px 10px;
}

.todo-body .right-container .reminder hr {
  border-top: 1px solid #d3d3d3;
  margin: 0px 0px 10px 30px;
}

.todo-body .right-container .pick-category {
  outline: 1px solid #e0e0e2;
}

.todo-body .right-container .pick-category .fa-tag {
  margin: 20px 10px;
}

.todo-body .right-container .add-file {
  outline: 1px solid #e0e0e2;
}

.todo-body .right-container .add-file .fa-paperclip {
  margin: 20px 10px;
}

.todo-body .right-container .empty-box {
  height: 15vh;
  outline: 1px solid #e0e0e2;
}

.todo-body .visible-right {
  display: block;
}
/*# sourceMappingURL=styles.css.map */