$myApp: #1b1b53b7;
$searchColor: #465efd6c;
$todoBlue: #465efc;
$white: #ffffff;
$headerBlue: #0078D7;
$todoGrey: #f4f4f5;
$darkGrey: #e0e0e2;
$todoBlack: #34373d;
$todoLightGrey: #d3d3d3;
$todoToggleBbox: #ffffffbb;
$darkBlack: #000000;
$hoverCategory :#ffffffd3;
$searchIcon: #7ca4ca;
$categoryInput: #f4f4f5;
$hrLine: 1px solid $todoLightGrey;